input[type=ul] {
  -webkit-padding-start: 0px;
}

#customer-container {
  padding-right: 60px;
}

.library-container {
  padding-list: 100px;
}

.item-list {
  padding: 100px;
}

.item-listcontainer {
  background-color: #E8A87C;
}
